# temporary files
*.asv
*.ipynb_checkpoints*
*__pycache__*
*.idea*

# GitHub Colab sync notebook (will change every time you run it)
GitHub_GoogleDrive_sync.ipynb

# figures folder (need to be uploaded directly via GitHub)
figures/